<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사계</title>
    <link rel= "stylesheet" type="text/css" href="/css/main.css">
    <base href="/" />
</head>

    <script>
        var message = "{{message}}";
        alert(message);
        location.href='{{returnurl}}';
    </script>

<body>

</body>
</html>