<div class = "Registermodal hidden" id ="Registermodal">
    <div class="Registermodal__overlay"></div>
    <div class ="Registermodal__content">
        <link href="/css/login2.css" rel="stylesheet">
        <div class = "formdiv">
            <div class="center">
                <main class="form-signin" >
                    <h1>회원가입</h1>
                    <form action="/Register/create"  method="post">
                        <div class="txt_field">
                            <input type="text" name="ID" required>
                            <label>Username</label>
                        </div>
                        <div class="txt_field">
                            <input type="password" name="PW" required>
                            <label>Password</label>
                        </div>
                        <div class="txt_field">
                            <input type="text" name="name"required>
                            <label>Name</label>
                        </div>
                        <div class="txt_field">
                            <input type="email" name="email"required>
                            <label>E-mail</label>
                        </div>
                        <div class="txt_field">
                            <input type="text" name="phone" required>
                            <label>Phone</label>
                        </div>
                        <button class="go" type="submit" id = "Registerend">회원가입</button>
                </form>
                </main>
            </div>
        </div>
    </div>
</div>