<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사계</title>

    <link rel= "stylesheet" type="text/css" href="/css/style.css">
    <base href="/" />
</head>
<body>
<input type="checkbox" id="menuicon">
<label for="menuicon">
    <span></span>
    <span></span>
    <span></span>
</label>
{{>Nav/Side}}
<section id = "bookpage">
    <div id = "first">
        <div id = "firstcontent">
            <img src="/Image/mainlogoblack.png">
        </div>
    </div>
    <div id = "second">
        <div id ="secondcontent">
            <img src="/Image/booktop1.png">

            <div id ="sentence">
                <p id="firstsentence">세계는 <strong>한 권의 책</strong>이다.</p>
                <p id="secondsentence">여행하지 않는 자는 그 책의</p>
                <p id="thirdsentence"><strong>단 한 페이지만</strong> 읽을 뿐이다.</p>
                <p id="lastsentence">-성 아우구스티누스-</p>
            </div>

        </div>
    </div>

</section>
<script src="JS/Login.js"></script>
<script src="JS/RegisterModal.js"></script>
</body>
</html>