<div class = "Registermodal hidden" id ="Registermodal">
    <div class="Registermodal__overlay"></div>
    <div class ="Registermodal__content">
        <div class = "formdiv">
            <div class="text-center">
                <main class="form-signin" >
                    <form action="/Register/create"  method="post">
                        <img class="mb-4" src="/Image/booktop1.png" alt="" width="72" height="57">
                        <h1 class="h3 mb-3 fw-normal text-dark">회원가입</h1>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="ID" name="ID">
                        </div>
                        <hr>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="PW" name="PW">
                    </div>
                        <hr>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPassword" placeholder="NAME" name="name">
                    </div>
                        <hr>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingPassword" placeholder="abc@naver.com" name="email">
                    </div>
                        <hr>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPassword" placeholder="01012345678" name="phone" >
                    </div>
                        <hr>
                    <button class="w-100 btn btn-lg btn-primary" type="submit" id = "Registerend">로그인</button>
                    <br>
                </form>
                </main>
            </div>
        </div>
    </div>
</div>