<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5xx오류</title>
</head>
<body>
timestamp: {{timestamp}}
error: {{error}}
message: {{message}}
path: {{path}}
greeting: {{greeting}}
</body>
</html>