@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
*{ text-decoration: none; list-style: none;}
html{
    font-family: 'Gowun Batang', serif;
    z-index: 0;
}
body{
    line-height: normal;
    /* 줄 높이 */
    font-size: 1.5vw;
    font-family: 'Gowun Batang', serif;
    background:url("/Image/background3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
]
/*로그인 모달창*/


#wrapper{
  max-width:68rem;
  margin:0 auto;
}
#header{
  text-align: center;
  padding-top:2rem;
  padding-bottom: 6rem;
}
#header .avatar {
  border-radius: 100%;
  display:inline-block;
  padding:0.5rem;
  background-color: rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.25);
  margin: 2rem 0;
  transition: 0.3s;
}
#header .avatar img{
  border-radius: 100%;
  display:block;
}
#header .avatar a:hover{
    color: white;
    transform: scale(1.07);
}
#header h1{
  font-size:1.8rem;
  color:rgba(255,255,255,0.5);
  font-weight: 200;
  margin-bottom: 1.5rem;
  line-height: 2.3rem;
}
#header h1 strong{
  color:white;
  font-weight: 200;
}
#header h1 a{
    color:rgba(255,255,255,0.5);
    text-decoration: none;
    border-bottom:1px dotted rgba(255,255,255,0.5);
}


#footer{
  text-align: center;
  color:rgba(255,255,255,0.5);
  font-weight: 200;
  padding-bottom: 3rem;
    font-size:0.8rem;
}
#footer a{
  color:rgba(255,255,255,0.5);
  text-decoration: none;
  border-bottom: 1px dotted rgba(255,255,255,0.5);
}
#footer:before{
  content:'';
  display: block;
  margin:2rem auto;
  width:10rem;
  border-top:1px solid rgba(255,255,255,0.2);
  margin-bottom:3rem;
}
ul.pagination {
    justify-content: center;
}
main #write a{
    margin-left: 85%;
    margin-top: 1vw;
}

@media(max-width:480px){
   #main .thumbnails {
        display: block;
  }
}