<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사계</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel= "stylesheet" type="text/css" href="/css/MainBoardView.css">
    <link href="/css/headers.css" rel="stylesheet">
    <link href="/css/ui.css" rel="stylesheet">
    {{>Nav/Nav}}
    <script type="text/javascript" src ="/smarteditor/js/HuskyEZCreator/js" charset="UTF-8"></script>
</head>
<body>
<main>
    <h3>Smart Editor</h3>
    <form action="" method="post">
        <div id = "smarteditor">
            <textarea name="editorTxt" id="editorTxt"
                      rows="20" cols="10"
                      placeholder="내용입력"
                      style="width:500px"></textarea>
        </div>
        <input type="button"/>
    </form>
</main>

<!-- Wrapper -->

<!-- Footer -->
<footer id="footer">
    <p>&copy; 2022 Graduation Work. Design: <a href="https://www.instagram.com/98p_jm/">JeongMin Park.</a> ::Instragram </p>
</footer>


<script src="JS/FinalLogin.js"></script>
<script src="JS/RegisterModal.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
        crossorigin="anonymous"></script>
<script src="JS/bootstrap.bundle.min.js"></script>

</body>
</html>