<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사계</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/SEditor.css" >
    <link rel="stylesheet" href="/css/uploadfiles.css" >
    <link rel= "stylesheet" type="text/css" href="/css/MainBoardView.css">
    <link href="/css/headers.css" rel="stylesheet">
    <link href="/css/ui.css" rel="stylesheet">
    <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script>
         function saveMiddle(){
            oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD",[])
            let content = document.getElementById("editorTxt").value
            console.log(content)
            document.getElementById("content").value = content;
            }
    </script>
    <script>
                     function submitPost(){
                        oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD",[])
                        let content = document.getElementById("editorTxt").value

                        document.getElementById("content").value = data;
                        if(content ==' '){
                            alert("내용을 입력하세요")
                            oEditors.getById["editorTxt"].exec("FOCUS")
                            return
                        } else{
                            console.log(content)

                        }
                    }
    </script>
    {{>Nav/Nav}}
</head>
<body>
<main>

    <h3 class="W_title">Smart Editor</h3>
    <div class="writeForm">
        <form action="Write/create" method="post" id ="sform" enctype="multipart/form-data">
            <div id = "smarteditor" style="text-align:center">
                <div id="top">
                    <hr>
                    <div class = "form-group1">
                        <label for="title">제목 :</label>
                        <input type="text" class="form-control-title" id=title name="title">
                    </div>
                    {{#user}}
                        <div class="top_content">
                            <div class="dropdown-label">
                                Menus
                            </div>
                            <div class="dropdown">
                                <a class="dropbtn">
                                    <span class="dropbtn_icon">more_horiz</span>
                                    <span class="dropbtn_content">Select a menu...</span>
                                    <span class="dropbtn_click" style="font-family: Material Icons; font-size : 16px; color : #3b3b3b; float:right;"
                                          onclick="dropdown()">arrow_drop_down</span>
                                </a>
                                <div class="dropdown-content">
                                    <div class="choice" onclick="showMenu(this.innerText)">여행기</div>
                                    <div class="choice" onclick="showMenu(this.innerText)">여행지</div>
                                    <div class="choice" onclick="showMenu(this.innerText)">맛집</div>
                                    <div class="choice" onclick="showMenu(this.innerText)">질문</div>
                                    <div class="choice" onclick="showMenu(this.innerText)">잡담</div>
                                </div>
                            </div>
                        <div class = "form_group">
                            <input type="text" class="Write_Id" id=title name="id" readonly value="{{ID}}">

                        </div>
                        </div>
                    {{/user}}
                    <hr>
                </div>
                <input type="text" class="hidden" id="menu" name="menu" readonly value="">
                <input type="text" class="hidden" id="content" name="content" readonly value="">
                <div class="flexEditor">
                <textarea name="editorTxt" id="editorTxt"
                          rows="20" cols="10"
                          placeholder="내용입력"
                          style="width:100%; height:400px;"></textarea>
                <script id="smartEditor" type="text/javascript">
                    var oEditors = [];
                    nhn.husky.EZCreator.createInIFrame({
                        oAppRef: oEditors,
                        elPlaceHolder: "editorTxt",
                        sSkinURI: "/smarteditor/SmartEditor2Skin.html",
                        fCreator: "createSEditor2",
                        htParams : {

                            bUseToolbar : true,

                        bUseVerticalResizer : true,

                        bUseModeChanger : false
                        }
                    });
                </script>
                    <div id="root">
                        <h2 class="title">파일 업로드</h2>
                        <hr>
                        <input type="file" name ="files" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="submits">
                <input type="button" class="btn btn-dark" onclick="saveMiddle();" value="중간저장"/>
                <input type="submit" id = "center_btn" class="btn btn-dark" onclick="submitPost();" value="글쓰기"/>
            </div>
        </form>
    </div>
</main>

<!-- Wrapper -->

<!-- Footer -->
<footer id="footer">
    <p>&copy; 2022 Graduation Work. Design: <a href="https://www.instagram.com/98p_jm/">JeongMin Park.</a> ::Instragram </p>
</footer>


<script src="JS/FinalLogin.js"></script>
<script src="JS/RegisterModal.js"></script>
<script src="JS/drop.js"></script>
<script src="JS/BoardSearch.js"></script>
<script src="JS/upLoadFiles.js"></script>
<script src="JS/bootstrap.bundle.min.js"></script>

</body>
</html>