<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사계</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/SEditor.css" >
    <link rel="stylesheet" href="/css/restrict.css" >
    <link rel="stylesheet" href="/css/silder.css" >
    <link rel= "stylesheet" type="text/css" href="/css/MainBoardView.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link href="/css/headers.css" rel="stylesheet">
    <link href="/css/ui.css" rel="stylesheet">
    <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script>
         function saveMiddle(){
            oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD",[])
            let content = document.getElementById("editorTxt").value
            console.log(content)
            document.getElementById("content").value = content;
            }
    </script>
    <script>
                     function submitPost(){
                        oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD",[])
                        let content = document.getElementById("editorTxt").value

                        document.getElementById("content").value = data;
                        if(content ==' '){
                            alert("내용을 입력하세요")
                            oEditors.getById["editorTxt"].exec("FOCUS")
                            return
                        } else{
                            console.log(content)

                        }
                    }
    </script>
    {{>Nav/Nav}}
</head>
<body>


<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <!-- Main -->
    <section id="main">
        <section class="thumbnails">
        <h3 class="W_title">Smart Editor</h3>
    {{#writeview}}
        <div class="writeForm">
            <form action="Write/create" method="post" id ="sform" enctype="multipart/form-data">
                <div id = "smarteditor" style="text-align:center">
                    <div id="top">
                        <hr>
                        <div class = "form-group1">
                            <label for="title">제목 :</label>
                            <input type="text" class="form-control-title" id=title name="title" readonly value="[{{writeview.menu}}] {{writeview.title}}">
                        </div>

                            <div class="top_content">
                                <div class = "form_group">
                                    <input type="text" class="Write_Id" id=title name="id" readonly value="{{writeview.id}}">
                                </div>
                            </div>
                        <hr>
                    </div>
                    <div class="flexEditor">

                    <textarea name="editorTxt" id="editorTxt"
                              rows="20" cols="10"
                              placeholder="내용입력"
                              style="width:100%; height:400px;" readonly>
                        {{writeview.content}}
                    </textarea>
                    <script id="smartEditor" type="text/javascript" >
                    var oEditors = [];
                    nhn.husky.EZCreator.createInIFrame({
                        oAppRef: oEditors,
                        elPlaceHolder: "editorTxt",
                        sSkinURI: "/smarteditor/SmartEditor2Skin.html",
                        fCreator: "createSEditor2",

                        htParams : {

                            bUseToolbar : true,

                        bUseVerticalResizer : true,

                        bUseModeChanger : false
                        }
                    });
                </script>
                        <div class="slider">
                            <input type="radio" name="slide" id="slide1" checked>
                            <input type="radio" name="slide" id="slide2">
                            <input type="radio" name="slide" id="slide3">
                            <input type="radio" name="slide" id="slide4">
                            <ul id="imgholder" class="imgs">
                                <li><img src="/Image/thumbs/01.jpg"></li>
                                <li><img src="/Image/thumbs/02.jpg"></li>
                                <li><img src="/Image/thumbs/03.jpg"></li>
                                <li><img src="/Image/thumbs/04.jpg"></li>
                            </ul>
                            <div class="bullets">
                                <label for="slide1">&nbsp;</label>
                                <label for="slide2">&nbsp;</label>
                                <label for="slide3">&nbsp;</label>
                                <label for="slide4">&nbsp;</label>
                            </div>
                        </div>
                </div>
                </div>
                <div class="submits">
                    <input type="button" style="display:none;" class="btn btn-dark" onclick="saveMiddle();" value="중간저장"/>
                    <input type="submit" style="display:none;" id = "center_btn" class="btn btn-dark" onclick="submitPost();" value="글쓰기"/>
                </div>
    {{/writeview}}
            {{#user}}
                <div class = "btn-group">
                    <a href="{{idx}}/{{ID}}/{{writeview.id}}/modify" class="btn btn-outline-dark me-2">수정하기</a>
                    <a href="{{idx}}/{{ID}}/{{writeview.id}}/delete" class="btn btn-outline-dark me-2">삭제하기</a>
                </div>
            {{/user}}
            {{#Manager}}
                <div class = "btn-group">
                    <a href="{{idx}}/{{ID}}/{{writeview.id}}/delete" class="btn btn-outline-dark me-2">삭제하기</a>
                </div>
            {{/Manager}}
            </form>


            {{>comment/listWrite}}
            {{>comment/formWrite}}
        </div>
        </section>
    </section>

    <hr>

    <div class = "btn-group">
        <a href="/Board" class="btn btn-light">뒤로가기</a>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <p>&copy; 2022 Graduation Work. Design: <a href="https://www.instagram.com/98p_jm/">JeongMin Park.</a> ::Instragram </p>
    </footer>
</div>
</body>
<script src="/JS/WriteModify.js"></script>
<script src="/JS/BoardSearch.js"></script>
<script src="/JS/WriteModify.js"></script>
<script src="/JS/FinalLogin.js"></script>
<script src="/JS/RegisterModal.js"></script>
<script src="/JS/upLoadFiles.js"></script>
<script src="/JS/bootstrap.bundle.min.js"></script>
</body>
</html>