<br/>
<div class="card">
    <div class="card-header bi bi-chat-right-dots"> Write a Comment</div>
    {{! 댓글작성 부분}}
    <form action="MainComment/create" method="post"  enctype="multipart/form-data">
        {{#user}}
            <input type="hidden" id="postsId" name="userId" value="{{ID}}">
            <input type="hidden" id="postsId" name="number" value="{{MainWriteview.idx}}">
            <div class="card-body">
                <textarea id="comment" class="form-control" rows="4" name="comment" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="card-footer">
                <button type="submit" id="btn-comment-save" class="btn btn-outline-primary bi bi-pencil-square"> 등록</button>
            </div>
        {{/user}}
        {{^user}}
            {{^Manager}}
                <div class="card-body" style="font-size: small"><strong>로그인</strong> 을 하시면 댓글을 등록할 수 있습니다.</div>
            {{/Manager}}
        {{/user}}
        {{#Manager}}
            <input type="hidden" id="postsId" name="userId" value="{{ID}}">
            <input type="hidden" id="postsId" name="number" value="{{MainWriteview.idx}}">
            <div class="card-body">
                <textarea id="comment" class="form-control" rows="4" name="comment" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="card-footer">
                <button type="submit" id="btn-comment-save" class="btn btn-outline-primary bi bi-pencil-square"> 등록</button>
            </div>
        {{/Manager}}
    </form>
</div>
<hr>

