<div class="card">
    <div class="card-header bi bi-chat-dots">Comments</div>
    {{! 댓글내용 부분 }}
    {{#user}}
    <ul class="list-group-flush">
        {{#List}}
            <li class="list-group-item">
                <span>
                    <span style="font-size: small">{{userId}}</span>
                    <span style="font-size: xx-small">{{write_time}}</span>&nbsp;
                    <button class="badge bi bi-trash" onclick="location.href='/delete/write/comment/{{ID}}/{{idx}}/{{userId}}/{{writeview.idx}}'">삭제</button>
                    <button class="badge bi bi-pencil-square" id = "WriteModify_comment_btn">수정</button>
                    {{>comment/formWriteModify}}
                </span>
                <div>{{comment}}</div>
            </li>
        {{/List}}
    </ul>

    <div id=page style="text-align : center">
        <td colspan="4" >
            {{#page}}
                <a href="?page={{prePage}}" style="margin-right : 1vw;">이전</a>
                <a href="?page={{page}}" style="margin-right : 1vw;">{{nowPage}}</a>
                <a href="?page={{nextPage}}" style="margin-right : 1vw;">다음</a>
            {{/page}}
            <hr>
        </td>
    </div>
    {{/user}}
    {{^user}}
        <div class="card-body" style="font-size: small"><strong>로그인</strong> 을 하시면 댓글을 볼 수 볼습니다.</div>
    {{/user}}
    {{#Manager}}
        <ul class="list-group-flush">
            {{#List}}
                <li class="list-group-item">
                <span>
                    <span style="font-size: small">{{userId}}</span>
                    <span style="font-size: xx-small">{{write_time}}</span>&nbsp;
                    <button class="badge bi bi-trash" onclick="location.href='/delete/write/comment/{{ID}}/{{idx}}/{{userId}}/{{writeview.idx}}'">삭제</button>
                    <button class="badge bi bi-pencil-square" id = "WriteModify_comment_btn">수정</button>
                    {{>comment/formWriteModify}}
                </span>
                    <div>{{comment}}</div>
                </li>
            {{/List}}
        </ul>

        <div id=page style="text-align : center">
            <td colspan="4" >
                {{#page}}
                    <a href="?page={{prePage}}" style="margin-right : 1vw;">이전</a>
                    <a href="?page={{page}}" style="margin-right : 1vw;">{{nowPage}}</a>
                    <a href="?page={{nextPage}}" style="margin-right : 1vw;">다음</a>
                {{/page}}
                <hr>
            </td>
        </div>
    {{/Manager}}
</div>
