<div class="card">
    <div class="card-header bi bi-chat-dots">Comments</div>
    {{! 댓글내용 부분 }}
    {{#user}}
    <ul class="list-group-flush">
        {{#List}}
            <li class="list-group-item">
                <span>
                    <span style="font-size: small">{{userId}}</span>
                    <span style="font-size: xx-small">{{write_time}}</span>&nbsp;
                    <!-- ID : user 의 아이디 , idx : 댓글 idx, write_id : 작성자, MainWriteview.idx : return-->
                    <button class="badge bi bi-trash" onclick="location.href='/delete/main/comment/{{ID}}/{{idx}}/{{userId}}/{{MainWriteview.idx}}'">삭제</button>
                    <button class="badge bi bi-pencil-square" id = "modify_comment_btn">수정</button>
                    {{>comment/formModify}}
                </span>
                <div>{{comment}}</div>
            </li>
        {{/List}}
    </ul>

    <div id=page style="text-align : center">
        <td colspan="4" >
            {{#page}}
                <a href="?page={{prePage}}" style="margin-right : 1vw;">이전</a>
                <a href="?page={{page}}" style="margin-right : 1vw;">{{nowPage}}</a>
                <a href="?page={{nextPage}}" style="margin-right : 1vw;">다음</a>
            {{/page}}
            <hr>
        </td>
    </div>
    {{/user}}
    {{#Manager}}
        <ul class="list-group-flush">
            {{#List}}
                <li class="list-group-item">
                <span>
                    <span style="font-size: small">{{userId}}</span>
                    <span style="font-size: xx-small">{{write_time}}</span>&nbsp;
                    <!-- ID : user 의 아이디 , idx : 댓글 idx, write_id : 작성자, MainWriteview.idx : return-->
                    <button class="badge bi bi-trash" onclick="location.href='/delete/main/comment/{{ID}}/{{idx}}/{{userId}}/{{MainWriteview.idx}}'">삭제</button>
                    <button class="badge bi bi-pencil-square" id = "modify_comment_btn">수정</button>
                    {{>comment/formModify}}
                </span>
                    <div>{{comment}}</div>
                </li>
            {{/List}}
        </ul>

        <div id=page style="text-align : center">
            <td colspan="4" >
                {{#page}}
                    <a href="?page={{prePage}}" style="margin-right : 1vw;">이전</a>
                    <a href="?page={{page}}" style="margin-right : 1vw;">{{nowPage}}</a>
                    <a href="?page={{nextPage}}" style="margin-right : 1vw;">다음</a>
                {{/page}}
                <hr>
            </td>
        </div>
    {{/Manager}}

</div>
